@import "/Users/JordanWilhite/dev/personal/portfolio/portfolio/dist/lib/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "/Users/JordanWilhite/dev/personal/portfolio/portfolio/dist/lib/neat/app/assets/stylesheets/_neat.scss";

body{
 background-color: #000000;
 margin: 0;
}
// Header //
  header.centered-navigation{
    $base-border-radius: 3px !default;
    $dark-gray: #333 !default;
    $large-screen: em(860) !default;
    $base-font-color: $dark-gray !default;
    $centered-navigation-padding: 1em;
    $centered-navigation-logo-height: 2em;
    $centered-navigation-background: #fff;
    $centered-navigation-color: transparentize($base-font-color, 0.3);
    $centered-navigation-color-hover: $base-font-color;
    $centered-navigation-height: 60px;
    $centered-navigation-item-padding: 1em;
    $centered-navigation-submenu-padding: 1em;
    $centered-navigation-submenu-width: 12em;
    $centered-navigation-item-nudge: 2.2em;
    $horizontal-bar-mode: $large-screen;
    background-color:
    $centered-navigation-background;
    border-bottom: 1px solid darken($centered-navigation-background, 6%);
    min-height: $centered-navigation-height;
    width: 100%;
    z-index: 9999;
  }
    div.centered-navigation-wrapper{
      font-family:"Raleway";
      font-size: 400%;
    }
      h1{
        text-align: center;
        font-weight: 200;
        margin: 0;
        border-left: 1px solid black;
        }
      h3{
        text-align: center;
        font-weight: 100;
        margin: 0;
      }
// Scroll on Page //

div.scroll-on-page{
  margin: 3%;
  font-family:"Raleway";
  font-size: 120%;
  font-weight: 100;
  color: #F7F7F7;
  text-align: justify;
}

  .scroll-on-page {
    $large-screen: em(860) !default;

aside {
    @include media($large-screen) {
      @include span-columns(4);
    }
  }
aside #scroll-on-page-top{
    text-align: left;
  }
  a{
    font-size: 220%;
    text-decoration: none;
  }
  a:link {
  color: #5D9732;
}

/* visited link */
a:visited {
  color: #5D9732;
}

/* mouse over link */
a:hover {
  color: #5D9732;
}

/* selected link */
a:active {
  color: #5D9732;
}
a.scroll-on-page-link{
    color: #5D9732;
    font-size: 220%;
    text-decoration: none;
  }
  .scroll-on-page-link {
    display: block;
    outline: none;
  }

article {
  @include media($large-screen) {
      @include span-columns(8);
    }
  section{

  }
  h4{
    color: #5D9732;
    font-weight: 100;
  }
    #scroll-link-1{
      font-size: 200%
    }
    #scroll-link-2{
      font-size: 200%
    }
    #scroll-link-3{
      font-size: 200%
    }
    p{
      color: #fff;
    }
    // images //

  div.image-gradient-dynamic {
      $image-gradient-color-top: red;
      $transparency-top: 0.9;
      $image-gradient-color-bottom: green;
      $transparency-bottom: 0.6;
      $vertical-angle: 0deg;
      $image-gradient-color-left: teal;
      $transparency-left: 0.8;
      $image-gradient-color-right: yellow;
      $transparency-right: 0.8;
      $horizontal-angle: 90deg;

      line-height: 0;
      position: relative;
      width: 100%;

      img {
       height: auto;
       left: 0;
       position: relative;
       top: 0;
       width: 100%;
      }

      .copy {
        @include transform(translate(-50%, -50%));
        left: 50%;
        margin: auto;
        position: absolute;
        text-align: center;
        top: 50%;
        z-index: 999;

        p {
          color: white;
          line-height: 1.5em;
          padding: 1em 2em;
          position: relative;
        }
      }

      .overlay {
        @include linear-gradient($vertical-angle, transparentize($image-gradient-color-top, $transparency-top),
          transparentize($image-gradient-color-bottom, $transparency-bottom));
        display: block;
        @include position(absolute, 0px 0px 0px 0px);

        &:after {
          @include linear-gradient($horizontal-angle, transparentize($image-gradient-color-left, $transparency-left),
            transparentize($image-gradient-color-right, $transparency-right));
          @include position(absolute, 0px 0px 0px 0px);
          content: '';
          display: block;
        }
      }
    }

    // images //
    section #code{
      color: #ba0be0;
    }
      a.project{
        color: #ba0be0;
      }
  }

  p{
    font-size: 110%;
    font-family:"Raleway";
  }
  i{
    color: #005695;
    margin-right: 5%;
  }
  }
